<html>
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="assets/login.css">
    <link rel="stylesheet" type="text/css" href="assets/general.css">
</head>
<body>
<h1 class="titulosPantallasSinLayout">Iniciar Sesion</h1>
<form action="/" method="POST">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo Electronico" required>
        <label for="correo">Correo Electrónico*</label>
    </div>

    <div class="form-floating" style="display: flex">
        <input type="password" class="form-control" id="contrasenia" name="contrasenia" placeholder="Contraseña"
               required content="botonOjo">
        <label for="contrasenia">Contraseña*</label>

    </div>

    <div id="botonIniciarSesion" class="form-floating">
        <input class="botonPrincipal" type="submit" value="Iniciar Sesion">
    </div>

    <div id="registrarse">¿No tenés una cuenta? <span><a href="/elegir_registro"> Registrate acá</a></span></div>
</form>

</body>
</html>