{{# partial "contenido" }}
    <head>
      <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" type="text/css" href="assets/general.css">
          <link rel="stylesheet" type="text/css" href="assets/DonarHeladera.css">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
                crossorigin="anonymous">
      </head>
      <body >
       <h1 class="titulosPantallasSinLayout">Donar Heladera</h1>

      <form action="/donar_heladera" method="POST">
               <div class="form-floating">
                   <input type="text" class="form-control" id="nombre" name="nombre" required>
                   <label for="nombre">nombre</label>
               </div>

               <div class="form-floating">
                   <input type="text" class="form-control" id="capacidad" name="capacidad" required>
                   <label for="capacidad">capacidad</label>
               </div>
               <div class="form-floating">
                   <input type="text" class="form-control" id="longitud" name="longitud" required>
                   <label for="longitud">longitud</label>
               </div>
             </div>
            <div class="col">
               <div class="form-floating">
                   <input type="tel" class="form-control" id="latitud" name="latitud"  required>
                   <label for="latitud">latitud</label>
               </div>
                <div class="form-floating">
                    <label for="provincia"></label>
                    <select name="provincia" id="provincia" required>
                        <option value="">Seleccione su provincia</option>
                        {{#each provincias}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-floating">
                    <label for="localidad"></label>
                    <select name="localidad" id="localidad" required>
                        <option value="">Seleccione su localidad</option>
                        {{#each localidades}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>


               <div class="form-floating">
                   <input type="text" class="form-control" id="domicilio" name="domicilio" required>
                   <label for="domicilio">Domicilio</label>
               </div>
               <div class="form-floating">
                   <input type="text" class="form-control" id="longitud" name="tminimo"  required>
                   <label for="tminimo">Temperatura minima</label>
               </div>
               <div class="form-floating">
                   <input type="text" class="form-control" id="tmaximo" name="tmaximo"  required>
                   <label for="tmaximo">Temperatura maxima</label>
               </div>
                    <div class="row" id="botonDonarHeladera">
                        <input class="botonPrincipal" type="submit" value="Crear">
                    </div>
      </form>

{{/partial}}

{{> BarraNavegacion.html }}