<html>
<head>
    <meta charset="UTF-8">
    <title>Registrar cuenta</title>
    <link rel="stylesheet" type="text/css" href="assets/RegistroPersonaHumana.css">
    <link rel="stylesheet" type="text/css" href="assets/general.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
                  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
                  crossorigin="anonymous">
<html>
<head>
    <meta charset="UTF-8">
    <title>Registrar cuenta</title>
    <link rel="stylesheet" type="text/css" href="assets/RegistroPersonaHumana.css">
    <link rel="stylesheet" type="text/css" href="assets/general.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
                  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
                  crossorigin="anonymous">
</head>

<body>

<h1 class="titulosPantallasSinLayout">Crea tu cuenta</h1>
<form action="/registro_persona" method="POST">
 <div class="row">
           <div class="col">
               <div class="form-floating">
                   <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingrese su email" required>
                   <label for="correo">Correo Electrónico</label>
               </div>
               <div class="form-floating">
                   <input type="password" class="form-control" id="contrasenia" name="contrasenia" placeholder="Contraseña" required>
                   <label for="contrasenia">Contraseña</label>
               </div>
               <div class="form-floating">
                   <input type="password" class="form-control" id="repetirContrasenia" name="repetirContrasenia" placeholder="Repita la contraseña" required>
                   <label for="repetirContrasenia">Repita la contraseña</label>
               </div>
               <div class="form-floating">
                   <input type="date" class="form-control" id="fecha" name="fecha" required>
                   <label for="fecha">Fecha de Nacimiento</label>
               </div>

               <div class="form-floating">
                   <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
                   <label for="nombre">Nombre</label>
               </div>
               <div class="form-floating">
                   <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" required>
                   <label for="apellido">Apellido</label>
               </div>
             </div>
            <div class="col">
               <div class="form-floating">
                   <input type="tel" class="form-control" id="celular" name="celular" placeholder="Celular" required>
                   <label for="celular">Celular</label>
               </div>
                <div class="form-floating">
                    <label for="provincia"></label>
                    <select name="provincia" id="provincia" required>
                        <option value="">Seleccione su provincia</option>
                        {{#each provincias}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="Codigo" name="codigoAdmin" placeholder="Codigo">
                    <label for="codigoAdmin">Codigo Admin</label>
                </div>

                <div class="form-floating">
                    <label for="localidad"></label>
                    <select name="localidad" id="localidad" required>
                        <option value="">Seleccione su localidad</option>
                        {{#each localidades}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>

               <div class="form-floating">
                   <input type="text" class="form-control" id="domicilio" name="domicilio" placeholder="Domicilio" required>
                   <label for="domicilio">Domicilio</label>
               </div>
               <div class="form-floating">
                   <input type="text" class="form-control" id="DNI" name="DNI" placeholder="DNI" required>
                   <label for="DNI">DNI</label>
               </div>
               <div class="form-floating">
                   <select class="form-control" id="tipoDocumento" name="tipoDocumento" required>
                       <option value="">Seleccione</option>
                       <option value="DNI">DNI</option>
                       <option value="Pasaporte">Pasaporte</option>
                       <option value="Cédula">Cédula</option>
                   </select>
                   <label for="tipoDocumento">Tipo de Documento</label>
               </div>
           </div>
       </div>
 </div>
    <div class="row" id="botonCrearCuenta">
        <input class="botonPrincipal" type="submit" value="Crear">
    </div>
</form>


</body>
</html>
