#botonGuardarDatos {
    justify-content: center;
    margin-top: 25px;
}

#botonGuardarDatos input {
    width: 200px;
}

#botonCerrarCuenta {
    justify-content: center;
    margin-top: 25px;
}

#botonCerrarCuenta input {
    width: 200px;
}
#botonColaborarCuenta {
    justify-content: center;
    margin-top: 25px;
    opacity: 0; /* Ocultar el botón inicialmente */
    transition: opacity 0.3s ease; /* Transición suave */
}

#botonColaborarCuenta:hover {
    opacity: 1; /* Mostrar el botón al pasar el mouse */
}

#botonColaborarCuenta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#botonColaborarCuenta:hover {
    opacity: 1;
}

#botonColaborarCuenta input {
    width: 20%;
}

form {
    height: 100px;
    width: 1000px;
    margin: 0 auto;

}

.form-floating {
    position: relative;
    margin-bottom: 2rem;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

