
form {
    height: 100px;
    width: 1700px;
    margin: 0 auto; /* Centrar el formulario */

}

/* Contenedor de cada campo del formulario */
.form-floating {
    position: relative;
    margin-bottom: 2rem; /* Espacio entre los campos */
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#Botonsuscripcion {
    height: 52px;
    width: 20%;
    left: 600px;
}
#botonSubmitFiltro {
    height: 52px;
    width: 100%;
}
#BotonReportar {
    flex-shrink: 0; /* Evita que el botón se reduzca */
    height: 42px;
    width: 10%;
    display: flex;
    align-items: center; /* Centra verticalmente el botón */
    justify-content: flex-end; /* Alinea el botón a la derecha */
}



